<h1>筆記列表</h1>

<%= link_to "新增筆記", new_notee_path %>

<ul>
<% @notees.each do |notee| %>
  <li>
    <%= link_to notee.title, notee_path(notee) %>
    <%= link_to "編輯", edit_notee_path(notee) %>
    <%= link_to "刪除", notee_path(notee), method: "delete", data: { confirm: "確定嗎?" , id: notee.id} %>
  </li>
<% end %>
</ul>

 
